
body{
    text-align: center;
    background-color: rgba(255, 179, 38, 0.829);
}
h1{
    color:rgb(252, 39, 24);
    font-size: 70px;;
    
}
#input{
    height: 50px;
    width: 270px;
    font-size: 25px;
    text-align: center;
    
}

/* To remove scroll around number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




button{
    margin: 25px;
    height: 45px;
    width: 100px;
    background-color: cyan;
    
}
#score{
    font-size: 25px;
    color: darkgreen;
    background-color: chartreuse;
    padding: 20px;
    width: 200px;
    display: inline-block;
}




